.main{
    text-align: left;
    color: rgb(20, 20, 20);
    background-color: rgb(228, 228, 228);
}
.menu {
    text-align: left;
    color: rgb(20, 20, 20);
    background-color: rgb(243, 146, 238);
}